/* Container for InfoCenter content */
.info-center-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Ensure the container grows to fill available space */
  padding-top: 70px; /* Avoid overlap with fixed header, adjust based on your header height */
  padding-bottom: 80px; /* Space for footer, adjust as needed */
  /* overflow-y: auto;  */
}

/* Button styling */
.refresh-button {
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.refresh-button:hover {
  background-color: #0056b3;
}

/* Error styling */
.error {
  color: red;
  margin-top: 0px;
  height: 50px;
}

/* Summary box styling */
.summary {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-bottom: 20px;
  padding: 8px 12px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  z-index: 2; /* Ensure summary is above the scrollable table */
}

.summary p {
  margin: 0;
  padding: 0 10px;
  white-space: nowrap;
}

/* Table styles */
.scrollable-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  overflow-x: auto; /* Horizontal scrolling if necessary */
  overflow-y: auto; /* Vertical scrolling enabled */
  max-height: 400px; /* Set a max-height to enable scrolling */
  min-width: 400px;
}

.scrollable-table th, .scrollable-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.scrollable-table th {
  background-color: #f2f2f2;
}

.scrollable-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.scrollable-table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

/* Gradient table */
.gradient-table {
  width: 100%;
  border-collapse: collapse;
}

.gradient-table td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
}

/* Styling for specific table containers with scroll */
.table-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  overflow: auto; /* Ensure no content overflows outside the container */
  max-width: 100%;
  position: relative;
}

/* Column header styling */
.column-header {
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  background-color: #f2f2f2;
  height: 50px;
  white-space: nowrap;
}

/* Form input styling */
.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.input-group {
  flex: 1 1 calc(25% - 16px);
  min-width: 200px;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 30%;
}

.form-label {
  font-weight: bold;
  padding-right: 10px;
}

.inputs .form-select {
  width: 50%;
}

.inputs .form-control {
  width: 50%;
}

/* Spinner */
.spinner-grow {
  align-self: center;
}

.info-center {
  padding-top: 80px; /* Adjust this based on your header's height */
  padding-bottom: 60px; /* Space for the footer */
  flex-grow: 1; /* Make the InfoCenter take up remaining space */
}

/* Tabs container */
.tabs {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

/* Tab content should scroll within its own container */
.tab-content {
  /* overflow-y: auto; */
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
}

.table-container.mt-4 {
  overflow-x: auto; /* Enable horizontal scrolling */
  position: relative; /* Allow sticky positioning of the header */
}

.row-header {
  position: sticky;
  left: 0; /* Fix the left-most column */
  background-color: #f9f9f9; /* Background to prevent overlap with scrollable content */
  z-index: 2; /* Ensure it's above the table content */
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

.column-header {
  position: sticky;
  top: 0; /* Fix the column header */
  background-color: #f2f2f2;
  z-index: 1; /* Ensure the header is above the content */
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
}

.gradient-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.gradient-table tbody tr:hover {
  background-color: #f1f1f1;
}

.text-danger {
  font-size: 0.7em;
}

.checkbox-large {
  width: 1.5em; /* Установите желаемую ширину */
  height: 1.5em; /* Установите желаемую высоту */
  cursor: pointer;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
}