.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Скрываем прокрутку для всего контейнера */
}

/* Контейнер для содержимого с прокруткой */
.content-container {
    flex: 1;
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
    padding-top: 60px; /* Учитываем высоту Header, если он фиксирован */
    padding-bottom: 80px; /* Учитываем высоту Footer */
}

