.footer {
    width: 100%;
    padding-bottom: 20px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .row {
    display: flex;
    width: 100%;
}

.footer .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-center .contact-button {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

.footer-copyright {
    font-size: 0.8rem;
    line-height: 1.5;
    margin-top: 20px;
}

.footer-copyright div {
    display: block;
}

.footer-contacts a,
.footer-contacts span {
    display: block;
    margin-bottom: 5px;
}

.footer-contacts {
    margin-left: auto;
}

.nav-item {
    cursor: pointer;
}

.contact-button .custom-icon-size {
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .footer .row {
        flex-direction: column; /* Изменяем ориентацию на вертикальную */
    }

    .footer .col {
        display: none; /* Скрываем все колонки по умолчанию */
    }

    .footer .col.text-right {
        display: flex; /* Показываем правую колонку первой */
        text-align: center;
        order: 1;
    }

    .footer .col.text-center {
        display: flex; /* Показываем центральную колонку последней */
        order: 2;
    }
    .footer-contacts {
        margin-left: auto;
        margin-right: auto ;
    }
}